h2{
  color:#ff00c8;
  background-color:black;
}
html{
  background-color: #00d5ff;
}
.jamal{
  background-color: #883f97;
}
.curry{
  background-color: #ff0088;
}
.jordan{
  background-color: #ffea00;
}

a:hover{
  border: 2px solid #ff0088;
  background-color: black;
  color:white;
}
.p1 {
  font-family: "Times New Roman", Times, serif;
}

.p2 {
  font-family: Arial, Helvetica, sans-serif;
}

.jamal:hover{
  rotate: 10000000deg;
  transition:rotate 3s;
  
}
.p3 {
  font-family: "Lucida Console", "Courier New", monospace;
}
div{
  border: 2px solid black;
  padding: 5px;
  margin: 50px;
}
div{
  display: flex;
  flex-direction: row;
  
}
@keyframes happy{
0%{
    transform: scale(1);
  }
  50%{
    transform: scale (5);
  }
  100%{
    transform: scale(1);
  }
  div:hover{
  animation_name: happy;
  animation-duration: 3s;
  }